/*
*
*/
.fuzein_terminology_lemma_icon {
 background-image: url(/terminology_mgmt_service/css/images/terminology_manager/16/terminology_lemma.png) !important
}

.arabic_text {
	white-space:normal;
 direction:rtl;
	font-family:"Simplified Arabic","Arabic Transparent","Traditional Arabic","Arial (Arabic)","Times New Roman (Arabic)","AGA Arabesque","NaskhTT","Akhbar MT","Courir New (Arabic)","Decotype Naskh","Mudir MT","Simplified Arabic fixed","Tahoma (Arabic)","Andalus","Monotype Koufi","Decotype Naskh Extension","Decotype Naskh Special","Decotype Naskh Swashed","Decotype Naskh Variants","Decotype Naskh Thuluth","Simplified Arabic backslanted","Traditional Arabic Backslanted",Arial,Helvetica,sans-serif;
 font-size:24px;
 font-style:normal;
 font-variant:normal;
 font-weight:lighter;
 line-height:normal;
 text-decoration:none;
}

.regular_text {
	font:normal 16px "sans serif", verdana;
	color:#444444;
	padding-left: 3px;
	padding-bottom:0px;
	margin: 1px;
	font-weight:normal;
	cursor:text;
	-moz-user-select:text;
}

.has_focus .x-panel-body {
 background-color:#ffe;
}